<div class="container-fluid">
  <div class="row row-1">
    <div class="col-4"></div>
    <div class="colSearch col-4">
      <h1 class="search">Contacts</h1>
    </div>
    <div class="plus col-4">
      <i style="font-size:24px" class="fa">&#xf067;</i>
    </div>
  </div>
  <div class="row row-search">
    <div class="col">
      <div class="input-icon">
        <span class="fa fa-search search-icon"></span>
        <input id="searchbar" class="form-control mr-sm-2 has-search" type="search" placeholder="Search" aria-label="Search">
      </div>
    </div>
  </div>
</div>