.container-fluid {
    background-color: rgb(87, 126, 231);
    padding-bottom: 2%;
    padding-top: 2%;
    position: sticky;
    z-index: 100;
    top: 0;
}
.row-search {
    display: flex;
    justify-content: center;
}
.people {
    margin-left: 1.5%;
}
#searchbar {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(87, 126, 231);
}
::-webkit-input-placeholder {
    color: rgb(87, 126, 231);
}
::-moz-placeholder {
    color: rgb(87, 126, 231);
}
:-ms-input-placeholder {
    color: rgb(87, 126, 231);
}
::placeholder {
    color: rgb(87, 126, 231);
}

.row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.plus {
    margin-right: 1.5%;
}
h1 {
    color:white;
}
h2 {
    color: white;
}
h3 {
    color: rgb(87, 126, 231);
    margin-left: 5%;
}
hr {
    border: none;
    border-bottom: 1px solid rgb(87, 126, 231);
}
.numberOfContacts {
    margin-left: 5%;
}
#pencil {
    font-size: 120%;
    margin-right: 20%;
}
legend {
    color: rgb(87, 126, 231);
}
label {
    color: rgb(87, 126, 231);
}
input {
    border: 1px solid rgb(87, 126, 231);
}
.groupRow {
    display: flex;
    align-items: center;
}
.input-icon .search-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: rgb(87, 126, 231);
}
.input-icon .has-search {
    padding-left: 2.375rem;
}
.modal-header {
    background-color: rgb(87, 126, 231);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa {
    color: white;
}
.fa-pencil {
    color: rgb(87, 126, 231);
}
img {
    height: 200px;
    width: 300px;
}
.modal-body2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.not-found {
    display: flex;
    justify-content: center;
}
.image {
    display: flex;
    justify-content: center;
}
.modal-footer {
    border-top: 1px solid rgb(87, 126, 231);
}
a {
    background-color: white;
    color: rgb(87, 126, 231)!important;;
    border: 1px solid rgb(87, 126, 231);
}
a.btn:hover {
    background-color: transparent;
    border: 1px solid rgb(87, 126, 231);
}
button {
    background-color: rgb(87, 126, 231);
    color: white;
}
button.btn:hover {
    color: white;
}

p {
    color: rgb(87, 126, 231);
}

.fa-window-close {
    color: white;
}

.matched-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 60px;
    border: 1px solid rgb(87, 126, 231);
    color: rgb(87, 126, 231);
}

.groupContact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 60px;
    border: 1px solid white;
    color: white;
    background-color: rgb(87, 126, 231);
}
.namesOfContacts {
    display: flex;
    justify-content: center;
}
#trash {
    font-size: 200%;
}