<div class="container-fluid">
  <div class="row row-1">
    <div class="people">
      <i style="font-size:24px" class="fa fa-users" aria-hidden="true" (click)="openDisplayGroupModal(supp2Template)"></i>
    </div>
    <div class="colSearch">
      <h1 class="search">Contacts</h1>
    </div>
    <div class="plus">
      <i style="font-size:24px" class="fa" (click)="createContactModal(suppTemplate)">&#xf067;</i>
    </div>
  </div>
  <div class="row row-search">
    <div class="col">
      <div class="input-icon">
        <span class="fa fa-search search-icon"></span>
        <input id="searchbar global-search" 
        class="form-control mr-sm-2 has-search" 
        type="search" 
        placeholder="Search" 
        aria-label="Search"
        (keyup)="searchContacts($event)"
        (search)="searchContacts($event)">
      </div>
    </div>
  </div>
  <!-- Create Contact Modal -->
  <ng-template class="modal-dialog" #suppTemplate>
    <form #contactForm="ngForm" (ngSubmit)="createContact(contactModel); contactForm.reset()">
      <div class="modal-header">
        <h2>Create new contact</h2>
      </div>
      <div class="modal-body">
        <fieldset>
          <legend>The contact</legend>
          <br>
          <div class="row col-sm-12" style="margin: auto">
            <div class="form-group col-sm-12">
              <label for="firstname">First name</label>
              <input class="form-control" id="firstname" type="text" name="firstname" placeholder="Enter a first name"
                     [(ngModel)]="contactModel.firstName" #contactFname="ngModel" appAutofocus/>
            </div>
            <div class="form-group col-sm-12">
              <label for="lastname">Last name</label>
              <input class="form-control" id="lastname" type="text" name="lastname" placeholder="Enter a last name"
                     [(ngModel)]="contactModel.lastName" #contactLname="ngModel"/>
                    
            </div>
          </div>
          <div class="row col-sm-12" style="margin: auto">
            <div class="form-group col-sm-12">
              <label for="phone">Phone number</label>
              <input class="form-control" id="phone" type="text" name="phone" placeholder="Enter a phone number"
                     [(ngModel)]="contactModel.phoneNumber" #contactCPhone="ngModel"/>
            </div> 
            <div class="form-group col-sm-12">
              <label for="email">E-mail</label>
              <input class="form-control" id="email" type="text" name="email" placeholder="Enter an e-mail"
                     [(ngModel)]="contactModel.email" #contactemail="ngModel"/>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer justify-content-between">
        <a class="btn btn-secondary float-left" (click)="modalSup.hide(); contactForm.reset()">Cancel</a>
        <button class="btn float-right">Create</button>       
      </div>
    </form>
  </ng-template>
  <!-- Display group modal -->
  <ng-template class="modal-dialog" #supp2Template>
    <form #contactForm="ngForm" (ngSubmit)="createOrUpdateContact()">
      <div class="modal-header">
        <h2>Group(s)</h2>
        <i style="font-size:22px" class="addGroup fa" id="add" aria-hidden="true" (click)="openNewGroupModal(supp3Template)" >&#xf067;</i>
      </div>
      <div class="modal-body2">
        <div class="groups" *ngFor="let group of data?.groups; index as i">
          <div class="groupRow row">
            <div class="groupInfo col-9">
              <br>
              <div class="displayContactsGroup" (click)="displayContactsGroupCard(supp4Template)">
                <h3>{{group.name}}</h3>
                <p class="numberOfContacts">{{group.contacts.length}} contacts</p>
              </div>
            </div>
            <div class="col-3">
              <i class="fa fa-pencil float-right" id="pencil" aria-hidden="true" (click)="openUpdateGroupModal(supp5Template, group.contacts)"></i>
            </div>
          </div>
          <hr *ngIf="i != data?.groups.length-1">
          <br *ngIf="i == data?.groups.length-1"> 

          <!-- Update contacts group modal -->
          <ng-template class="modal-dialog" #supp5Template>
            <form (ngSubmit)="updateGroup(group.id, group)">
              <div class="modal-header">
                <h2>Update group</h2>
                <i class="fa fa-trash float-right" id="trash" aria-hidden="true" (click)="openDeleteGroupModal(supp6Template)"></i>
              </div>
              <div class="modal-body">
                <fieldset>
                  <br>
                  <div class="row col-sm-12" style="margin: auto">
                    <div class="form-group col-sm-12">
                      <label for="groupName">Group's Name</label>
                      <input class="form-control" id="groupName" type="text" name="groupName" placeholder="Enter a group's name"
                              [(ngModel)]="group.name" #contactGname="ngModel" appAutofocus/>
                    </div>
                  </div>
                  <div class="row col-sm-12" style="margin: auto">
                    <div class="input-icon form-group col-12">
                      <label>Add contact</label>
                      <span class="fa fa-search search-icon"></span>
                      <input id="searchbar group-contact-search" 
                      name="search"
                      class="form-control mr-2 has-search" 
                      type="search" 
                      placeholder="Search" 
                      aria-label="Search"
                      [(ngModel)]="searchTerm"
                      (keyup)="searchContacts($event)"
                      (search)="searchContacts($event)">
                    </div>
                    <div class="matching-contacts-results row col-12" style="margin: auto">
                      <div *ngFor="let contact of compare(); index as i" class="matched-contact col-12" (click)="selectContact(contact)">
                        <div class="matched-contact-name">
                          <span class="firstName">{{ contact.firstName }}</span>
                          <strong style="margin-left: 5px;">{{ contact.lastName }}</strong>
                        </div>
                      </div>  
                    </div>
                    
                    <div class="group-contacts-results row col-12" style="margin: auto">
                      <div *ngFor="let contact of groupModel?.contacts; index as i" class="groupContact col-12">
                        <div class="group-contact-name">
                          
                          <span class="firstName">{{ contact.firstName }}</span>
                          <strong style="margin-left: 5px;">{{ contact.lastName }}</strong>
                        </div>
                        <div class="group-contact-delete">
                          <i class="fa fa-window-close" aria-hidden="true" (click)="deselectContact(contact)"></i>
                        </div>
                      </div>
                    </div>
                  </div>   
                </fieldset>       
              </div>
        
              <div class="modal-footer justify-content-between">
                <a class="btn float-left" (click)="modalRef4.hide(); openDisplayGroupModal(supp2Template)">Cancel</a>
                <button class="btn float-right">Update</button>       
              </div>
            </form>
          </ng-template>

          <!-- Delete group modal -->
          <ng-template class="modal-dialog" #supp6Template>
            <form class="" #contactForm="ngForm" (ngSubmit)="deleteGroup(group.id);">
              <div class="modal-header">
                <h2>Delete group</h2>
              </div>
              <div class="modal-body">
                <fieldset>
                  <legend>Are you sure you want to remove the <strong>{{group.name}}</strong> group ?</legend>
                </fieldset>
              </div>
              <div class="modal-footer justify-content-between">
                <a class="btn float-left" (click)="modalRef5.hide(); openUpdateGroupModal(supp5Template)">No</a>
                <button class="btn float-right" type="submit">Yes</button>
              </div>
            </form>
          </ng-template>
          
          <!-- Display contacts group modal -->
          <ng-template class="modal-dialog" #supp4Template>
              <form class="" #contactForm="ngForm">
                <div class="modal-header">
                  <h2>{{group.name}}</h2>
                  <i class="fa fa-window-close" id="close" aria-hidden="true" (click)="modalRef3.hide(); openDisplayGroupModal(supp2Template)"></i>
                </div>
                <div class="modal-body">
                  <div class="namesContactsGroup" *ngFor="let contact of group.contacts; index as i">
                    <br>
                    <div class="namesOfContacts"><p>{{contact.firstName}} <strong>{{contact.lastName}}</strong></p></div>
                    <hr *ngIf="i != group.contacts.length-1">
                    <br *ngIf="i == group.contacts.length-1">
                  </div> 
                </div>
              </form>
            </ng-template>
        </div>

        <div class="not-found row" *ngIf="data?.groups.length == 0">
          <div class="image col-12">
            <img src="assets/img/shrugging.png">
          </div>
          <p><strong>Oops you don't have any group, add one !</strong></p>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <a class="btn btn-secondary float-right" (click)="modalRef.hide()">Cancel</a>
      </div>
    </form>
  </ng-template>
  <!-- New Group Modal -->
  <ng-template class="modal-dialog" #supp3Template>
    <form #contactForm="ngForm" (ngSubmit)="createGroup(groupModel);">
      <div class="modal-header">
        <h2>Create new group</h2>
      </div>
      <div class="modal-body">
        <fieldset>
          <br>
          <div class="row col-sm-12" style="margin: auto">
            <div class="form-group col-sm-12">
              <label for="groupName">Group's Name</label>
              <input class="form-control" id="groupName" type="text" name="groupName" placeholder="Enter a group's name"
                      [(ngModel)]="groupModel.name" #contactGname="ngModel" appAutofocus/>
            </div>
          </div>
          <div class="row col-sm-12" style="margin: auto">
            <div class="input-icon form-group col-12">
              <label>Add contact</label>
              <span class="fa fa-search search-icon"></span>
              <input id="searchbar group-contact-search"
              name="search"
              class="form-control mr-2 has-search" 
              type="search" 
              placeholder="Search" 
              aria-label="Search"
              [(ngModel)]="query"
              (keyup)="searchContacts($event)"
              (search)="searchContacts($event)">
            </div>
            <div class="matching-contacts-results row col-12" style="margin: auto">
              <div *ngFor="let contact of compare(); index as i" class="matched-contact col-12" (click)="selectContact(contact, $event)">
                <div class="matched-contact-name">
                  <span class="firstName">{{ contact.firstName }}</span>
                  <strong style="margin-left: 5px;">{{ contact.lastName }}</strong>
                </div>
              </div>  
            </div>
            
            <div class="group-contacts-results row col-12" style="margin: auto">
              <div *ngFor="let contact of groupModel?.contacts; index as i" class="groupContact col-12">
                <div class="group-contact-name">
                  
                  <span class="firstName">{{ contact.firstName }}</span>
                  <strong style="margin-left: 5px;">{{ contact.lastName }}</strong>
                </div>
                <div class="group-contact-delete">
                  <i class="fa fa-window-close" aria-hidden="true" (click)="deselectContact(contact)"></i>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="modal-footer justify-content-between">
        <a class="btn float-left" (click)="modalRef2.hide(); openDisplayGroupModal(supp2Template)">Cancel</a>
        <button class="btn float-right">Create</button>       
      </div>
    </form>
  </ng-template>
</div>